<h1>Search for Jokes</h1>

<form class="example-form" [formGroup]="form" (submit)="search(form.value.query)" name="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search for text content</mat-label>
    <input type="search" matInput placeholder="e.g. pain, kick" formControlName="query" />
  </mat-form-field>

  <button [disabled]="form.invalid" mat-raised-button color="primary">Search</button>
</form>

<mat-list>
  <mat-list-item *ngFor="let joke of jokes$ | async">
    <p class="joke" matLine>{{ joke.value }}</p>
    <p matLine>
      Categories: <span *ngFor="let category of joke.categories">{{ category }}</span>
    </p>
  </mat-list-item>
</mat-list>
